<div>
    <form #addForm="ngForm" >
        <label>First Name
          <input #contactName type="text" placeholder="First Name" [(ngModel)]="name" name="contactName" required="true">
        </label>
        <label>Last Name
          <input #contactSurname type="text"  placeholder="Last Name" [(ngModel)]="surname" name="contactSurname" required="true">
        </label>
        <label>Phone number
          <input #contactPhone type="number" placeholder="Phone number" [(ngModel)]="phoneNumber" name="contactPhone" maxlenght="9" required="true">
        </label>
        <button class="clear" (click)="clearValues()">Clear All Fields</button>
        <button type="submit" (click)="add(contactName.value, contactSurname.value, contactPhone.value)">Save New Contact</button>
    </form>
</div>
