<h2>Listado de contactos</h2>
    <ul>
        <li *ngFor="let contact of contacts; let i = index">
            <contact-item [contact]='contact'
                        (clickDelete)='deleteContact(contact.id)'
                        (clickAdd)='updateContacts()'
            ></contact-item>
        </li>
    </ul>
