ul{
    padding: 0;
    margin: 0;
}

li{
    color: #505050;
    font-size: 24px;
    font-weight: 600;
    list-style: none;
    padding: 8px;
    margin: 16px;
    border: 1px solid grey;
}

h2{
    margin: 12px 8px 0px 8px;

}
