form{
    display: block;
    margin-top: 80px;
    margin-bottom: 156px;
}
label{
    display: block;
    font-weight: bold;
}

input {
    display: block;
    width: 98%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
    border: 1px solid #E0E0E0;
}

button{
    display: block!important;
    float: right;
    margin: 16px;

}

.clear{
    color: #F44336;
    border-color: #F44336;
}

.clear:hover{
    color: rgba(255,255,255,1);
    background: #F44336;
}

.clear:active{
    border: 2px solid #EF5350 !important;
    background: #EF5350 !important;
}

.container{
    margin: 32px;
}

.remove{
    display: block;
    margin-right: 42px;
}
