    <button class="clear remove" (click)="delete(contact)">Remove Contact</button>
<div class="container" *ngIf="contact">
  <form #addForm="ngForm" >
      <label>First Name
        <input #contactName type="text" placeholder="First Name" [(ngModel)]="contact.name" name="contactName" required="true">
      </label>
      <label>Last Name
        <input #contactSurname type="text"  placeholder="Last Name" [(ngModel)]="contact.surname" name="contactSurname" required="true">
      </label>
      <label>Phone number
        <input #contactPhone type="number" placeholder="Phone number" [(ngModel)]="contact.phoneNumber" name="contactPhone" maxlenght="9" required="true">
      </label>
      <button class="clear" (click)="goBack()">Cancel changes</button>
      <button type="submit" (click)="update(contactName.value, contactSurname.value, contactPhone.value)">Save changes</button>
  </form>
</div>
