@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
$color-black: #000000;
$color-gray: #E0E0E0;
$color-gray-dark: #505050;

.header{
    background: $color-gray;
    text-align: center;

}

.title {
    text-align: right;
    padding: 16px;
    display: inline-block;
}

.name{
    display: block;
    color: $color-gray-dark;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
}

.contacts{
    display: block;
}

.back-button{
  display: inline;
  float: left;
  margin-top: 40px;
  margin-left: 32px;
  text-decoration: none;
  vertical-align: middle;
  width: 80px;
  height: 40px;
  cursor: pointer;
  border: 2px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 8px;
  color: gray;
  text-align: center;
  font-weight: bold;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.back-button:hover {
 color: rgba(255,255,255,1);
 background: gray;
}

.back-button:active {
 border: 2px solid gray;
 background: gray;
 -webkit-transition: none;
 -moz-transition: none;
 -o-transition: none;
 transition: none;
}
