<nav>
    <div class="header">
        <button class="back-button" (click)="goBack()" *ngIf="router.url != '/contacts'">Back</button>
        <div class="title">
            <h1>Contacts Agenda <span class="name">by {{name}}</span></h1>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
