
   <a routerLink="/detail/{{contact.id}}">{{contact.surname}}, {{contact.name}} <br> {{contact.phoneNumber}}</a>
   <a [class.selected]="contact === slectedContact" (click)="delete(contact)"><i class="fas fa-trash-alt fa-sm"></i></a>
