contact-add{
    display: inline-block;
    width: 50%;
    margin: 32px;
}

contact-list{
    display: inline-block;
    float: right;
    background-color: #E0E0E0;
    margin: 32px;
    width: 33%;
    padding-bottom: 32px;
}
