h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

button.clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 16px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear {
  color: #888;
  margin-bottom: 12px;
}

.container{
    width: 50%;
    margin: 32px;
}
