<div class="container" *ngIf="messageService.messages.length">

  <h2>Messages</h2>

  <div *ngFor='let message of messageService.messages'> {{message}} </div>

  <button class="clear"
          (click)="messageService.clear()">clear</button>
</div>
