/* You can add global styles to this file, and also import other style files */
$color-black: #000000;
$color-gray: #E0E0E0;
$color-gray-dark: #505050;

html {
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
    padding: 0;
}

*{
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: $color-black;
  font-family: Arial, Helvetica, sans-serif;
  }

h2, h3 {
  color: $color-black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
}

button{
  display: block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  cursor: pointer;
  border: 2px solid rgb(30,205,151);
  -webkit-border-radius: 40px;
  border-radius: 8px;
  color: rgb(30, 205, 151);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

button:hover {
 color: rgba(255,255,255,1);
 background: rgb(30, 205, 151);
}

button:active {
 border: 2px solid rgba(33,224,163,1);
 background: rgba(33,224,163,1);
 -webkit-transition: none;
 -moz-transition: none;
 -o-transition: none;
 transition: none;
}

button:focus {
    outline: none;
}
